body {
    background-color: #5daa68;
    font-family: 'Nova Flat';
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#mainContent {
    flex-direction: column;
}

header {
    font-family: 'Nova Flat';
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px #3f6844, 
                 2px 2px #3f6844, 
                 3px 3px #3f6844,
                 4px 4px #3f6844,
                 5px 5px #3f6844;
    color: #faf1cf;
}

#sketch {
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    grid-template-rows: repeat(16, 1fr);
    box-shadow: 0px -20px 65px -1px rgba(0,0,0,0.73);
    background-color: #faf1cf;
    opacity: 0.9;
    margin: 2vh;
}

.sketchDiv {
    border: gainsboro 0.1ch solid;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    border: #3f6844 3px solid;
    background-color: #faf1cf;
    color: #3f6844;
    font-family: 'Nova Flat';

}

button:hover {
    background-color: #3f6844;
    color: #faf1cf;
}

#colorSelector {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    border: #3f6844 3px solid;
    background-color: #faf1cf;
    color: #3f6844;
    font-family: 'Nova Flat';
}

#colorSelector:hover {
    background-color: #3f6844;
    color: #faf1cf;
}